@use "../base/base" as *;

.layout-container {
  max-width: 1440px;
  margin: 0 auto;
}

.section-wrapper {
  padding-inline: 16px;

  @include tab {
    padding-inline: 40px;
  }

  @include desk {
    padding-inline: 80px;
  }
}

.section-fullwidth {
  padding-inline: 0;
}