@use "../base/base" as *;

.filter-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 217px;

  &__group {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__title {
    @include text-xl;
    margin-block: 0px;
  }
}

.form-label {
  @include text-sm;
  padding-block: 2px;
}