@use "../base/base" as *;

.button {
  @include text-base($fw: 600);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: var(--padding-button);
  border: 2px solid transparent;
  border-radius: var(--radius-md);
  cursor: pointer;
  box-shadow: 0 0 0 2px transparent;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:focus {
    border-color: var(--color-focus);
    box-shadow: 0 0 0 2px var(--color-focus);
    outline: none;
  }

  &:active {
    box-shadow: none;
  }

  &:disabled,
  &.button--disabled {
    color: var(--color-text-disabled);
    cursor: not-allowed;
    pointer-events: none;
  }

  &--primary {
    color: var(--color-button-white);
    background-color: var(--color-accent);

    &:hover {
      background-color: var(--color-focus);
    }

    &:active {
      background-color: var(--color-active-button);
      border-color: var(--color-active-button);
    }

    &:disabled,
    &.button--disabled {
      background-color: var(--color-border-default);
    }
  }

  &--secondary {
    color: var(--color-primary);
    background-color: transparent;
    border-color: var(--color-border-default);

    &:hover,
    &:active {
      border-color: var(--color-disabled);
      background-color: var(--color-disabled);
    }

    &:focus {
      background-color: var(--color-disabled);
    }

    &:disabled,
    &.button--disabled {
      background-color: var(--color-border-default);
      border-color: var(--color-text-disabled);
    }
  }

  &--tertiary {
    border: 1px solid transparent;
    padding: var(--padding-button-white);
    color: var(--color-primary);
    background-color: var(--background-color);

    &:hover {
      background-color: var(--color-disabled);
      border: 1px solid var(--color-focus);
    }

    &:active,
    &:focus {
      background-color: var(--color-disabled);
    }

    &:disabled,
    &.button--disabled {
      background-color: transparent;
    }
  }

  &--favourite {
    border-color: var(--color-border-dark);
    background-color: transparent;

    &:hover,
    &:active {
      border-color: var(--color-disabled);
      background-color: var(--color-disabled);
    }

    &:focus {
      background-color: var(--color-disabled);
    }

    &:disabled,
    &.button--disabled {
      background-color: var(--color-border-default);
      border-color: var(--color-text-disabled);
    }
  }

  &--tag {
    @include text-sm($fw:600);
    padding: var(--padding-filters);
    gap: 8px;

    &.button--secondary {
      border-width: 1px;
    }

    .button__text {
      order: -1;
    }
  }

  &--only-icon {
    padding: var(--padding-icon);
  }

  &--icon-left {
    gap: 8px;
  }

  &--full {
    width: 100%;
  }

  &--icon-large {
    padding: var(--padding-icon-big);
  }

  &--tab-hidden {
    @include tab {
      display: none;
    }
  }
}