@use "../base/base" as *;

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include tab {
    flex-direction: row;
  }

  &__title {
    margin: 0;
  }

  &__field-wrapper {
    position: relative;
  }

  &__form {
    display: flex;
    gap: 8px;
  }

  &__input {
    border: 1px solid var(--color-border-default);
    border-radius: 8px;
    padding: 20px;

    &:hover {
      border-color: var(--color-focus);
      box-shadow: 0 0 0 1px var(--color-focus);
    }
    
    &:focus {
      border-color: var(--color-focus);
      box-shadow: 0 0 0 2px var(--color-focus);
      outline: none;
    }

    &:disabled {
      background-color: var(--color-disabled);
    }

    &:user-invalid {
      border-color: var(--color-invalid);
      box-shadow: none;
    }
    //Show and hide text on help, valid, invalid
    &:focus + .newsletter__help {
      @include sr-only-reset;
    }

    &:user-invalid ~ .newsletter__help {
      @include sr-only;
    }

    &:user-invalid ~ .newsletter__error {
      @include sr-only-reset;
    }

    &:valid ~ .newsletter__valid {
      @include sr-only-reset;
    }

    &:valid ~ .newsletter__help {
      @include sr-only;
    }

    &:valid ~ .newsletter__error {
      @include sr-only;
    }

    &:user-invalid ~ .newsletter__valid {
      @include sr-only;
    }
  }

  &__help,
  &__error,
  &__valid {
    @include text-xs;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
  }

  &__help {
    color: var(--color-muted);
  }

  &__error {
    color: var(--color-invalid);
  }

  &__valid {
    color: var(--color-valid);
  }

  &__button {
    padding: var(--padding-button-lg);
    @include text-md($fw: 600);
  }
}