@use "../base/base" as *;

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include tab {
    flex-direction: row;
  }
  &__title {
    margin: 0;
  }

  &__form {
    display: flex;
    gap: 8px;
  }

  &__input {
    border: 1px solid var(--color-border-default);
    border-radius: 8px;
    padding: 20px;
  }

  &__button {
    padding: var(--padding-button-lg);
    @include text-md($fw: 600);
  }
}