@use "../base/base" as *;

.section-header {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--color-secondary);
  }

  &__label {
    @include text-md;
    color: var(--color-icon-accent);
    text-transform: uppercase;
  }

  &__title {
    @include heading-title;
    margin-block: 0;
  }

  &__desc {
    margin-block: 0;
  }

  &__link {
    @include text-md($fw: 600);
    color: var(--color-accent);
    display: inline-flex;
    gap: 8px;
  }
}