@use "../base/base" as *;

.tags {
  @include text-md;
  color: var(--color-muted-light);
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--color-muted-light);
  }

  &__text:first-child {
    order: -1;
  }
}