{% set badge = badge or {} %}

<span class="badge{% if badge.modFirst %} badge--{{ badge.modFirst }}{% endif %}{% if badge.modSecond %} badge--{{ badge.modSecond }}{% endif %}">
  {% if badge.icon %}
    <svg class="icon" aria-hidden="true" focusable="false">
      <use href="/img/sprite.svg#{{ badge.icon }}"></use>
    </svg>
  {% elseif badge.text %}
    {{ badge.text }}
  {% endif %}
</span>