<form class="{{ form.class }}" action="{{ form.action }}" method="{{ form.method | default('get') }}">
  {% if form.groupWrapperClass %}
  <div class="{{ form.groupWrapperClass }}">
  {% endif %}
  
  <input
    class="{{ form.inputClass }}"
    type="{{ form.type | default('text') }}"
    name="{{ form.name }}"
    placeholder="{{ form.placeholder }}"
    minlength="{{ form.minlength | default(3) }}"
    aria-describedby="{{ form.idPrefix }}_help {{ form.idPrefix }}_error {{ form.idPrefix }}_valid"
    required/>

  {% if form.help %}
    <span class="{{ form.helpClass | default('sr-only') }} {{ form.helpExtraClass | default('') }}" id="{{ form.idPrefix }}_help">
      {{ form.help }}
    </span>
  {% endif %}

  {% if form.error %}
    <span class="{{ form.errorClass | default('sr-only') }} {{ form.errorExtraClass | default('') }}" id="{{ form.idPrefix }}_error">
      {{ form.error }}
    </span>
  {% endif %}

  {% if form.validated %}
    <span class="{{ form.validClass | default('sr-only') }} {{ form.validExtraClass | default('') }}" id="{{ form.idPrefix }}_valid">
      {{ form.validated }}
    </span>
  {% endif %}

  {% if form.groupWrapperClass %}
  </div>
  {% endif %}

  <button
    class="{{ form.buttonClass }}"
    type="{{ form.buttonType }}"
    {% if form.ariaLabel %}aria-label="{{ form.ariaLabel }}"{% endif %}>

    {% if form.icon %}
      <svg class="icon{% if form.iconClass %} {{ form.iconClass }}{% else %} form__icon{% endif %}" aria-hidden="true" focusable="false">
        <use href="/img/sprite.svg#{{ form.icon }}"></use>
      </svg>
    {% elseif form.buttonText %}
      {{ form.buttonText }}
    {% endif %}
  </button>
</form>