<ul class="social">
  {% for item in footer.social %}
    <li class="social__item">
      {% set button = item.button %}
      {% include "partials/components/button.njk" %}
    </li>
  {% endfor %}
</ul>