{% extends "layouts/base.njk" %}

{% block content %}
  <main class="main-container">
    {% include "partials/index/promo.njk" %}

    {% include "partials/index/assets.njk" %}

    {% include "partials/index/categories.njk" %}

    {% include "partials/index/products.njk" %}

    {% include "partials/index/pricing.njk" %}

    <section class="faq">
      <div class="section-header">
        <span class="section-header__label">F.A.Q</span>
        <h2 class="section-header__title">Answers to Your Questions</h2>
        <button class="button button--secondary">Ask Us A Question</button>
      </div>
      <div class="faq__container">
        <details class="faq__details">
          <summary class="faq__summary">Can I request a refund?</summary>
          <div class="faq__content">
            <p class="faq__answer">Accessing your purchased products is seamless and hassle-free on our digital design assets marketplace. Simply log in to your account, navigate to the 'My Purchases' section, and you'll find all your purchased products ready for download.</p>
          </div>
        </details>
        <details class="faq__details" open>
          <summary class="faq__summary">How do I access my purchased products?</summary>
          <div class="faq__content">
            <p class="faq__answer">Accessing your purchased products is seamless and hassle-free on our digital design assets marketplace. Simply log in to your account, navigate to the 'My Purchases' section, and you'll find all your purchased products ready for download.</p>
          </div>
        </details>
        <details class="faq__details">
          <summary class="faq__summary">Are there any discounts for bulk purchases?</summary>
          <div class="faq__content">
            <p class="faq__answer">Accessing your purchased products is seamless and hassle-free on our digital design assets marketplace. Simply log in to your account, navigate to the 'My Purchases' section, and you'll find all your purchased products ready for download.</p>
          </div>
        </details>
        <details class="faq__details">
          <summary class="faq__summary">What payment methods do you accept here?</summary>
          <div class="faq__content">
            <p class="faq__answer">Accessing your purchased products is seamless and hassle-free on our digital design assets marketplace. Simply log in to your account, navigate to the 'My Purchases' section, and you'll find all your purchased products ready for download.</p>
          </div>
        </details>
        <details class="faq__details">
          <summary class="faq__summary">Can I sell my digital products on this marketplace?</summary>
          <div class="faq__content">
            <p class="faq__answer">Accessing your purchased products is seamless and hassle-free on our digital design assets marketplace. Simply log in to your account, navigate to the 'My Purchases' section, and you'll find all your purchased products ready for download.</p>
          </div>
        </details>
      </div>
    </section>

    <section class="articles">
      <div class="section-header">
        <h2 class="section-header__title">Latest Expert</h2>
        <a href="#">Explore All Articles
            <svg class="icon icon-small">
            <use href="/img/sprite.svg#chevron-right"></use>
          </svg>
        </a>
      </div>
      <div class="articles__list">
        <article class="articles__item">
          <img
                class="articles__img"
                src="img/blog-1x.webp"
                alt="Creative blog"
                width="624"
                height="702"
          />
          <h3 class="articles__subtitle">Creative Blog</h3>
          <time class="articles__date" datetime="2024-04-15">
              15 APRIL 2024
            </time>
        </article>
        <article class="articles__item">
          <img
                class="articles__img"
                src="img/best-dishes-1x.webp"
                alt="Creative blog"
                width="624"
                height="702"
          />
          <h3 class="articles__subtitle">Best Dishes</h3>
          <time class="articles__date" datetime="2024-05-05">
              5 MAY 2024
            </time>
        </article>
      </div>
    </section>
  </main>
{% endblock %}