{% extends "layouts/base.njk" %}

{% block content %}
  <main class="main-container">
    {% include "partials/index/promo.njk" %}
    {% include "partials/index/assets.njk" %}
    {% include "partials/index/categories.njk" %}
    {% include "partials/index/products.njk" %}
    {% include "partials/index/pricing.njk" %}
    {% include "partials/index/faq.njk" %}
    {% include "partials/index/articles.njk" %}
  </main>
{% endblock %}