<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__col">
      {% include "partials/components/logo.njk" %}
      <p class="footer__text">
        {{ footer.description }}
      </p>
    </div>

    <div class="footer__col">
     {% for group in footer.nav %}
        {% set nav = group %}
        {% include "partials/components/footer-nav.njk" %}
      {% endfor %}
    </div>
  </div>

  <div class="footer__wrapper">
    {% include "partials/components/social.njk" %}

    <div class="footer__newsletter newsletter">
      <h2 class="newsletter__title">{{ footer.newsletter.title }}</h2>
      {% set form = footer.newsletter.form %}
      {% include "partials/components/input-form.njk" %}
    </div>
  </div>

  <div class="footer__bottom">
    <nav class="footer-nav footer__legal">
      <ul class="footer-nav__list">
        {% for link in footer.legal %}
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="{{ link.href }}">{{ link.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <p class="footer__copyright">
      {{ footer.copyright }}
    </p>
  </div>
</footer>