{% extends "layouts/base.njk" %}

{% block content %}
  <main class="main-container">
    {% include "partials/catalog/catalog-hero.njk" %}
    <section class="catalog section-wrapper">
      <h2 class="visually-hidden">Product Catalog</h2>
      <div class="catalog-layout">
        {% include "partials/catalog/catalog-filter.njk" %}
        <div class="catalog-content">
          {% include "partials/catalog/catalog-toolbar.njk" %}
          {% include "partials/catalog/catalog-grid.njk" %}
          <div class="catalog-content__load-more">
            {% set button = catalogLoadMore.button %}
            {% include "partials/components/button.njk" %}
          </div>
        </div>
      </div>
    </section>
    </main>
  {% endblock %}