{% extends "layouts/base.njk" %}

{% block content %}
  <main class="main-container">
    {% include "partials/catalog/catalog-hero.njk" %}
      <div class="catalog-layout">
        {% include "partials/catalog/catalog-toolbar.njk" %}
      </div>
    </section>
  </main>
{% endblock %}