@use "../base/base" as *;

.article-card {
  display: flex;
  flex-direction: column;

  &__media {
    position: relative;
    display: block;
    margin-bottom: 24px;
    border-radius: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.1s ease-in-out;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 2px var(--color-accent);
      outline: none;

      .badge--article {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &:active {
      box-shadow: 0 0 0 2px var(--color-accent);
      transform: scale(0.98);
    }
  }

  &__subtitle {
    @include heading-subtitle;
    margin-block: 0 8px;
  }

  &__link {
    color: var(--color-primary);
    @include news-link;
  }

  &__picture {
    display: block;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__date {
    @include text-md;
    color: var(--color-muted-light);
  }
}