@use "../base/base" as *;

.assets-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 0 0 auto;
  width: 224px;
  height: 272px;

  &:hover {
    .assets-card__icon-wrapper {
      background-color: var(--color-accent);
    }

    .assets-card__icon {
      color: var(--color-hover-icon)
    }
  }

  &:focus {
    outline: none;

    .assets-card__icon-wrapper {
      box-shadow: inset 0 0 0 2px var(--color-accent);
    }
  }

  &:active {
    .assets-card__icon-wrapper {
      box-shadow: inset 0 0 0 2px var(--color-accent);
      transform: scale(0.98);
    }
  }

  @include tab {
    width: 176px;
  }

  @include desk {
    width: 230px;
  }

  &__icon-wrapper {
    background-color: var(--background-color-cards);
    padding: 37px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.1s ease-in-out;

    @include tab {
      padding-inline: 13px;
    }

    @include desk {
      padding-inline: 37px;
    }
  }

  &__icon {
    width: 150px;
    height: 150px;
    color: var(--color-accent);
    display: block;
    transition: color 0.3s ease-in-out;
  }

  &__name {
    @include text-lg;
    color: var(--color-primary);
  }
}