@use "../base/base" as *;

.categories {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-block: 0 64px;

  @include tab {
    padding-block: 0 120px;
    flex-direction: row-reverse;
  }

  &__container {
    display: flex;
    gap: 20px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__column:last-child::before {
    content: "";
    display: block;
    height: 60px;
    background: linear-gradient(0.23deg, rgb(240 246 253 / 1), rgba(255, 255, 255, 0) 99.8%);
    border-radius: 20px;
    flex-shrink: 0;
  }

  &__column:first-child::after {
    content: "";
    display: block;
    height: 60px;
    background: linear-gradient(180deg, rgb(240 246 253 / 1) 0%, rgba(255, 255, 255, 0) 99.8%);
    border-radius: 20px;
    flex-shrink: 0;
  }
}