@use "../base/base" as *;

.categories {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-block: 0 64px;

  @include tab {
    padding-block: 0 120px;
    flex-direction: row-reverse;
  }

  &__header {
    @include tab {
      width: calc(50% - 32px);
      padding-block: 82px;
    }

    @include desk {
      padding-block: 78px;
    }
  }

  &__container {
    display: flex;
    gap: 20px;

    @include tab {
      width: calc(50% - 32px);
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    overflow: hidden;
  }

  &__column:last-child::before {
    content: "";
    display: block;
    height: 60px;
    background: linear-gradient(0.23deg, var(--background-color-secondary), var(--color-transparent) 99.8%);
    border-radius: var(--radius-xl);
    flex-shrink: 0;
  }

  &__column:first-child::after {
    content: "";
    display: block;
    height: 60px;
    background: linear-gradient(180deg, var(--background-color-secondary) 0%, var(--color-transparent) 99.8%);
    border-radius: var(--radius-xl);
    flex-shrink: 0;
  }
}

.categories .section-header__title {
  @include tab {
    max-width: 80%;
  }

  @include desk {
    max-width: 60%;
  }
}