@use "../base/base" as *;

.categories {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-block: 0 64px;

  @include tab {
    padding-block: 0 120px;
    flex-direction: row-reverse;
  }

  &__container {
    display: flex;
    gap: 20px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}