@use "../base/base" as *;

.category-card {
  @include heading-subtitle;
  color: var(--color-primary);
  background-color: var(--bacground-color-cards);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 24px;

  &__icon {
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
  }

  &__title {
    margin-block: 0 8px;
  }
}