@use "../base/base" as *;

.promo {
  background: linear-gradient(
    90deg,
    rgb(240 246 253 / 1) 0%,
    rgb(255 255 255 / 1) 100%
  );
  padding-block: 32px 64px;
  display: flex;
  flex-direction: column-reverse;
  gap: 36px;

  @include tab {
    padding-block: 120px 110px;
    flex-direction: row;
  }

  @include desk {
    padding-block: 120px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include tab {
      flex: 0 0 auto;
      width: 100%;
      max-width: 410px;
      min-width: 300px;
    }

    @include desk {
      flex: 0 0 520px;
      max-width: 520px;
    }
  }

  &__highlight {
    color: var(--color-accent);
  }

  &__desc {
    @include text-lg($lh: 28px, $fw: 500);
    margin-block: 0;
    color: var(--color-muted);
  }

  &__actions {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__media {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  &__visual {
    position: relative;
    width: 100%;
    height: 276px;

    @include tab {
      height: 386px;
      max-width: 443px;
      margin-right: -11.5px;
    }

    @include desk {
      height: 544px;
      max-width: 624px;
      margin-right: -40px;
    }
  }

  &__picture {
    position: absolute;
    display: block;
    overflow: hidden;

    &--about {
      top: 29px;
      left: 0;
      width: 131px;
      height: 197px;
      z-index: 1;
      border-radius: 6px;

      @include tab {
        top: 0;
        width: 150px;
        height: 300px;
        border-radius: 0 10px 10px 0;
      }

      @include desk {
        width: 281px;
        height: 422px;
        border-radius: 10px;
      }
    }

    &--program {
      top: 13px;
      left: 177px;
      width: 171px;
      height: 96px;
      border-radius: 6px;
      border: 3px solid var(--background-color);

      @include tab {
        top: 35px;
        left: 221px;
        width: 207px;
        height: 117px;
        border-radius: 10px;
        box-shadow: 0 0 0 2px var(--background-color);
      }

      @include desk {
        top: 49px;
        left: 317px;
        width: 291px;
        height: 164px;
      }
    }

    &--screens {
      top: 122px;
      left: 106px;
      width: 242px;
      height: 140px;

      @include tab {
        top: 174px;
        left: 94px;
        width: 349px;
        height: 212px;
      }

      @include desk {
        top: 245px;
        left: 110px;
        width: 514px;
        height: 299px;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__icon {
    position: absolute;
    z-index: 2;
    color: var(--color-icon-accent);
    background-color: var(--background-color);
    box-shadow: 0px 2.5px 25px var(--color-shadow);
    width: 36px;
    height: 36px;
    padding: 8px;

    @include tab {
      width: 56px;
      height: 56px;
      padding: 12px;
      box-shadow: 0px 4px 40px var(--color-shadow);
    }

    &--theme {
      top: 235px;
      left: 19px;
      border-radius: 6px;

      @include tab {
        top: 289px;
        left: 30px;
        border-radius: 10px;
      }

      @include desk {
        top: 446px;
      }
    }

    &--bezier {
      top: 5px;
      left: 305px;
      border-radius: 3px;

      @include tab {
        top: 9px;
        left: 314px;
        border-radius: 5px;
      }

      @include desk {
        left: 494px;
      }
    }
  }
}