@use "../base/base" as *;

.product-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  position: relative;
  width: 305px;
  flex: 0 0 auto;

  &__picture {
    display: block;
    border-radius: 20px;
    overflow: hidden;
  }

  &__img {
    display: block;
    object-fit: cover;

  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @include heading-subtitle;
    color: var(--color-primary);
    margin-block: 0 8px;
  }

  &__price {
    @include text-md($fw: 500);
    color: var(--color-accent);
  }
}