@use "../base/base" as *;

.products {
  padding-block: 0 64px;
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include tab {
    padding-block: 0 120px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
  }

  &__slider {
    display: flex;
    overflow-x: auto; //Check later if i need to make it visible
    gap: 16px;
    align-items: center;

    &--padding {
      padding-inline: 16px 0;

      @include tab {
        padding-inline: 40px 0;
      }

      @include desk {
        padding-inline: 80px;
      }
    }
  }
}