@use "../base/base" as *;

.promo {
  background: linear-gradient(
    90deg,
    rgb(240 246 253 / 1) 0%,
    rgb(255 255 255 / 1) 100%
  );
  padding-block: 32px 64px;
  display: flex;
  flex-direction: column-reverse;
  gap: 36px;

  @include tab {
    padding-block: 120px 110px;
    flex-direction: row;
  }

  @include desk {
    padding-block: 120px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__highlight {
    color: var(--color-accent);
  }

  &__desc {
    @include text-lg($lh: 28px, $fw: 500);
    margin-block: 0;
    color: var(--color-muted);
  }

  &__actions {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__icon {
    width: 56px;
    height: 56px;
    color: var(--color-icon-accent);
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0px 4px 40px var(--color-shadow);
    padding: 12px;
  }
}