<section class="blog-hero">
  <div class="blog-hero__content-wrapper section-wrapper layout-container">
    <span class="blog-hero__label">{{ hero.label }}</span>
    <h1 class="blog-hero__title">
      {{ hero.title }}
      <span class="blog-hero__subtitle">{{ hero.subtitle }}</span>
    </h1>
  </div>
</section>