<article class="related-card">
  <a href="{{ card.url }}" class="related-card__link">
    {% set picture = card.picture %}
    {% include "partials/components/picture.njk" %}
    <span class="badge badge--round badge--related">{{ card.tag }}</span>
    <div class="related-card__info">
      <h3 class="related-card__title">{{ card.title }}</h3>
      <time class="related-card__date" datetime="{{ card.datetime }}">{{ card.date }}</time>
    </div>
  </a>
</article>