<form class="contact-form" action="{{ contact.form.action }}" method="post">
  {% for field in contact.form.fields %}
    {% set input = field %}
    {% if input.type == "textarea" %}
      <div class="contact-form__item">
        <label class="contact-form__label" for="{{ input.id }}">{{ input.label }}</label>
        <textarea
          class="contact-form__input"
          id="{{ input.id }}"
          name="{{ input.id }}"
          rows="{{ input.rows | default(5) }}"
          {% if input.required %}required{% endif %}>
        </textarea>
      </div>
    {% elseif input.type == "select" %}
      <div class="contact-form__item">
        <label for="{{ input.id }}" class="contact-form__label">{{ input.label }}</label>
        <div class="contact-form__select-wrapper">
          <select id="{{ input.id }}" name="{{ input.id }}" class="contact-form__select" {% if input.required %}required{% endif %}>
            {% for option in input.options %}
              <option 
                value="{{ option | lower | replace(' ', '-') }}"
                {% if loop.first %}selected{% endif %}>
                {{ option }}
              </option>
            {% endfor %}
          </select>
          <svg class="icon contact-form__arrow" aria-hidden="true" focusable="false">
            <use href="/img/sprite.svg#chevron-left"></use>
          </svg>
        </div>
      </div>
    {% else %}
      <div class="contact-form__item">
        <label class="contact-form__label" for="{{ input.id }}">{{ input.label }}</label>
        <input
          class="contact-form__input"
          id="{{ input.id }}"
          type="{{ input.type }}"
          name="{{ input.id }}"
          placeholder="{{ input.placeholder }}"
          {% if input.required %}required{% endif %}
          {% if input.minlength %}minlength="{{ input.minlength }}"{% endif %}
          {% if input.min %}min="{{ input.min }}"{% endif %}
          {% if input.max %}max="{{ input.max }}"{% endif %}
          {% if input.pattern %}pattern="{{ input.pattern | safe }}"{% endif %}
        />
      </div>
    {% endif %}
  {% endfor %}

  <div class="contact-form__footer">
    <div class="contact-form__checkbox-wrapper">
      {% for checkbox in contact.form.checkboxes %}
        <input
          class="visually-hidden checkbox-input"
          type="checkbox"
          name="{{ checkbox.id }}"
          value="agree"
          id="{{ checkbox.id }}"
          {% if checkbox.required %}required{% endif %} />
        <label class="checkbox-label" for="{{ checkbox.id }}">{{ checkbox.label }}</label>
      {% endfor %}
    </div>

    {% set button = contact.form.button %}
    {% include "partials/components/button.njk" %}
  </div>
</form>