<form class="contact-form" action="{{ contact.form.action }}" method="post">
  {% for field in contact.form.fields %}
    {% set input = field %}
    {% if input.type == "textarea" %}
      <div class="contact-form__item">
        <label class="form-label" for="{{ input.id }}">{{ input.label }}</label>
        <textarea
          class="contact-form__input"
          id="{{ input.id }}"
          name="{{ input.id }}"
          rows="{{ input.rows | default(5) }}"
          {% if input.required %}required{% endif %}>
        </textarea>
      </div>
    {% else %}
      <div class="contact-form__item">
        <label class="form-label" for="{{ input.id }}">{{ input.label }}</label>
        <input
          class="contact-form__input"
          id="{{ input.id }}"
          type="{{ input.type }}"
          name="{{ input.id }}"
          placeholder="{{ input.placeholder }}"
          {% if input.required %}required{% endif %}
          {% if input.minlength %}minlength="{{ input.minlength }}"{% endif %}
          {% if input.min %}min="{{ input.min }}"{% endif %}
          {% if input.max %}max="{{ input.max }}"{% endif %}
          {% if input.pattern %}pattern="{{ input.pattern | safe }}"{% endif %}
        />
      </div>
    {% endif %}
  {% endfor %}

  {% set terms = contact.form.terms %}
  <div class="contact-form__item">
    <input
      class="visually-hidden checkbox-input"
      type="checkbox"
      name="{{ terms.id }}"
      value="agree"
      id="{{ terms.id }}"
      required/>
    <label class="form-label checkbox-label" for="{{ terms.id }}">
      {{ terms.label }}
      <a class="link-highlight" href="{{ terms.linkUrl }}">{{ terms.linkText }}</a>
    </label>
  </div>

  {% set button = contact.form.button %}
  {% include "partials/components/button.njk" %}
</form>