<article class="article-card">
  <a href="{{ article.url }}" class="article-card__media">
    {% if article.badge %}
      {% set badge = article.badge %}
      {% include "partials/components/badge.njk" %}
    {% endif %}

    <img
      src="{{ article.image.src }}"
      alt="{{ article.image.alt }}"
      width="{{ article.image.width }}"
      height="{{ article.image.height }}"
      loading="lazy"
    />
  </a>

  <h3 class="article-card__subtitle">
    <a class="article-card__link" href="{{ article.url }}">{{ article.title }}</a>
  </h3>

  <time class="article-card__date" datetime="{{ article.datetime }}">
    {{ article.date }}
  </time>
</article>