<article class="article-card">
  <a href="{{ article.url }}" class="article-card__media">
    {% if article.badge %}
      {% set badge = article.badge %}
      {% include "partials/components/badge.njk" %}
    {% endif %}

    {% set base = "/img/articles/" + article.image.basename %}
    <picture class="article-card__picture">
      <!-- Desktop -->
      <source media="(min-width: 1025px)" type="image/avif"
        srcset="{{ base }}-desktop-1x.avif 1x, {{ base }}-desktop-2x.avif 2x">
      <source media="(min-width: 1025px)" type="image/webp"
        srcset="{{ base }}-desktop-1x.webp 1x, {{ base }}-desktop-2x.webp 2x">

      <!-- Tablet -->
      <source media="(min-width: 441px)" type="image/avif"
        srcset="{{ base }}-tab-1x.avif 1x, {{ base }}-tab-2x.avif 2x">
      <source media="(min-width: 441px)" type="image/webp"
        srcset="{{ base }}-tab-1x.webp 1x, {{ base }}-tab-2x.webp 2x">

      <!-- Mobile -->
      <source type="image/avif"
        srcset="{{ base }}-mobile-1x.avif 1x, {{ base }}-mobile-2x.avif 2x">
      <source type="image/webp"
        srcset="{{ base }}-mobile-1x.webp 1x, {{ base }}-mobile-2x.webp 2x">

      <!-- Fallback -->
      <img
        src="{{ base }}-mobile-1x.webp"
        alt="{{ article.image.alt }}"
        width="{{ article.image.width }}"
        height="{{ article.image.height }}"
        loading="lazy"
        class="article-card__img"
      >
    </picture>
  </a>

  <h3 class="article-card__subtitle">
    <a class="article-card__link" href="{{ article.url }}">{{ article.title }}</a>
  </h3>

  <time class="article-card__date" datetime="{{ article.datetime }}">
    {{ article.date }}
  </time>
</article>