<section class="articles section-wrapper">
  {% set header = articles.header %}
  {% include "partials/components/section-header.njk" %}
      
  <div class="articles__list">
    {% for item in articles.items %}
      {% set article = item %}
      {% include "partials/index/article-card.njk" %}
    {% endfor %}
  </div>
</section>