<a class="assets-card" href="{{ item.href }}">
  <svg class="assets-card__img" aria-hidden="true" focusable="false" width="150" height="150">
    <use href="/img/sprite.svg#{{ item.icon }}"></use>
  </svg>
  <span class="assets-card__name">{{ item.name }}</span>
</a>