<a class="assets-card" href="{{ item.href }}">
  <div class="assets-card__icon-wrapper">
    <svg class="assets-card__icon" aria-hidden="true" focusable="false">
      <use href="/img/sprite.svg#{{ item.icon }}"></use>
    </svg>
  </div>
  <span class="assets-card__name">{{ item.name }}</span>
</a>