<section class="categories">
  {% set header = categories.header %}
  {% include "partials/components/section-header.njk" %}

  <div class="categories__container">
    <div class="categories__column">
      {% for item in categories.items %}
        {% include "partials/index/category-card.njk" %}
      {% endfor %}
    </div>
  </div>
</section>