<details class="faq__item" {% if question.open %}open{% endif %}>
  <summary class="faq__question">{{ question.question }}</summary>
  <div class="faq__content">
    <p class="faq__answer">{{ question.answer }}</p>
  </div>
</details>