<section class="products">
      <div class="products__header">
        {% set header = products.header %}
        {% include "partials/components/section-header.njk" %}
        
        <div class="products__controls">
          {% for button in products.controls %}
            {% include "partials/components/button.njk" %}
          {% endfor %}
        </div>
      </div>

      <div class="products__slider">
        {% for product in products.items %}
          {% set item = product %}
          {% include "partials/index/product-card.njk" %}
        {% endfor %}
      </div>
    </section>
