<article class="product-card">
  <a class="product-card__link" href="{{ item.url }}">
    {% if item.badge %}
      {% set badge = item.badge %}
      {% include "partials/components/badge.njk" %}
    {% endif %}

    {% set picture = item.image %}
    {% include "partials/components/picture.njk" %}
  </a>

  <div class="product-card__overlay">
    {% if item.hoverButton %}
    {% set button = item.hoverButton %}
      {% include "partials/components/button.njk" %}
    {% endif %}
  </div>

  <div class="product-card__info">
    <h3 class="product-card__title">{{ item.title }}</h3>
    <span class="product-card__price">{{ item.price }}</span>
  </div>

  {% set tags = item.tags %}
  {% include "partials/components/tags.njk" %}
</article>