<article class="product-card">
  <a class="product-card__link" href="{{ item.url }}">
    {% if item.badge %}
      {% set badge = item.badge %}
      {% include "partials/components/badge.njk" %}
    {% endif %}

    <img
      class="product-card__img"
      src="{{ item.image.src }}"
      alt="{{ item.image.alt }}"
      width="305"
      height="272"
      loading="lazy"
    />
  </a>

  <div class="product-card__info">
    <h3 class="product-card__title">{{ item.title }}</h3>
    <span class="product-card__price">{{ item.price }}</span>
  </div>

  {% set tags = item.tags %}
  {% include "partials/components/tags.njk" %}
</article>