{% set promo = promo or {} %}
<section class="promo section-wrapper">
  <div class="promo__content">
    <h1 class="promo__title">
      {{ promo.title | safe }}
    </h1>
    <p class="promo__desc">
      {{ promo.description }}
    </p>
    <div class="promo__actions">
      {% for button in promo.buttons %}
        {% include "partials/components/button.njk" %}
      {% endfor %}
    </div>
  </div>

  <div class="promo__media">
    <div class="promo__visual">
      <div class="promo__images">
        {% for image in promo.images %}
          <picture class="promo__image {{ image.class }}">
            <!-- Desktop -->
            <source media="(min-width: 1024px)" type="image/avif"
              srcset="/img/promo/{{ image.sources.desktop['1x'] }}.avif 1x, /img/promo/{{ image.sources.desktop['2x'] }}.avif 2x">
            <source media="(min-width: 1024px)" type="image/webp"
              srcset="/img/promo/{{ image.sources.desktop['1x'] }}.webp 1x, /img/promo/{{ image.sources.desktop['2x'] }}.webp 2x">

            <!-- Tablet -->
            <source media="(min-width: 440px)" type="image/avif"
              srcset="/img/promo/{{ image.sources.tab['1x'] }}.avif 1x, /img/promo/{{ image.sources.tab['2x'] }}.avif 2x">
            <source media="(min-width: 440px)" type="image/webp"
              srcset="/img/promo/{{ image.sources.tab['1x'] }}.webp 1x, /img/promo/{{ image.sources.tab['2x'] }}.webp 2x">

            <!-- Mobile -->
            <source type="image/avif"
              srcset="/img/promo/{{ image.sources.mobile['1x'] }}.avif 1x, /img/promo/{{ image.sources.mobile['2x'] }}.avif 2x">
            <source type="image/webp"
              srcset="/img/promo/{{ image.sources.mobile['1x'] }}.webp 1x, /img/promo/{{ image.sources.mobile['2x'] }}.webp 2x">

            <!-- Fallback -->
            <img src="/img/promo/{{ image.sources.mobile['1x'] }}.webp" alt="{{ image.alt }}" width="{{ image.width }}" height="{{ image.height }}" loading="lazy">
          </picture>
        {% endfor %}
      </div>

      <div class="promo__icons">
        {% for icon in promo.icons %}
          <svg class="promo__icon {{ icon.class }}" aria-hidden="true" focusable="false">
            <use href="/img/sprite.svg#{{ icon.name }}"></use>
          </svg>
        {% endfor %}
      </div>
    </div>
  </div>
</section>