<section class="catalog-hero section-wrapper">
  <h1 class="catalog-hero__title">
    {{ catalogHero.title }} <span class="catalog-hero__highlight">{{ catalogHero.highlight }}</span> {{ catalogHero.suffix }}
  </h1>
</section>