<section class="catalog-hero">
  <div class="catalog-hero__content-wrapper section-wrapper layout-container">
    <div class="catalog-hero__content">
      <h1 class="catalog-hero__title">
        {{ catalogHero.title }}
        <span class="catalog-hero__line">
          <span class="catalog-hero__highlight">{{ catalogHero.highlight }}</span>
          {{ catalogHero.suffix }}
        </span>
      </h1>
    </div>
  </div>
</section>