<ul class="catalog-grid">
  {% for item in catalogItems %}
    <li class="catalog-grid__item">
      {% include "partials/catalog/catalog-card.njk" %}
    </li>
  {% endfor %}
</ul>
<div class="catalog-grid__load-more">
  {% set button = catalogLoadMore.button %}
  {% include "partials/components/button.njk" %}
</div>