@use "../base/mixins" as *;
@use "../base/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  color: var(--color-primary);
  background-color: var(--background-color);
  min-width: 440px;
}

a,
a:link,
a:visited,
a.button,
button {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  @include heading-main;
  color: var(--color-primary);
  margin-block: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only-reset {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
  white-space: normal;
  overflow: visible;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}