/* Breakpoints */
$screen-mobile: 440px;
$screen-tab: 1024px;
$screen-desk: 1440px;

:root {
--font-primary: "Libre Franklin", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
--font-secondary: "Plus Jakarta Sans", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;

--font-size-title-main: 52px;
--line-height-title-main: 62px;

--font-size-title: 36px;
--line-height-title: 48px;

--font-size-subtitle: 28px;
--line-height-subtitle: 36px;

--font-size-xl: 24px;
--line-height-xl: 32px;

--font-size-lg: 20px;
--line-height-lg: 28px;

--line-height-lg-short: 26px;

--font-size-base: 18px;
--line-height-base: 28px;

--font-size-md: 16px;
--line-height-md: 24px;

--font-size-sm: 14px;
--line-height-sm: 20px;

--font-size-xs: 12px;
--line-height-xs: 16px;

--font-weight-base: 400;
--font-weight-medium: 500;
--font-weight-semibold: 600;
--font-weight-bold: 700;

/* Colors */
--color-primary: rgb(13 13 21 / 1);
--color-secondary: rgb(34 34 34 / 1);
--color-muted: rgb(42 53 65 / 0.85);
--color-muted-light: rgb(42 53 65 / 0.7);
--color-terms: rgb(231 238 247 / 0.66);
--color-accent: rgb(2 101 220 / 1);

--color-icon-accent: rgb(15 115 246 / 1);
--color-icon-white: rgb(248 247 255 / 1);
--color-black-neutral: rgb(0 0 0 / 1);
--color-button-white: rgb(245 248 251 / 1);
--color-border-default: rgb(29 54 83 / 0.17);
--color-border-dark: rgb(39 53 68 / 0.55);
--color-border-checkbox: rgb(31 50 71 / 0.27);
--color-shadow: rgb(29 57 95 / 0.08);
--color-shadow-light: rgb(29 57 95 / 0.05);
--color-seporator: rgb(34 34 34 / 0.15);
--color-transparent: rgb(255 255 255 / 0);
--color-fade-white: rgb(255 255 255 / 0.5);

--background-color: rgb(255 255 255 / 1);
--background-color-secondary: rgb(240 246 253 / 1);
--background-color-cards: rgb(244 247 250 / 1);
--background-label-new: rgb(0 119 114 / 1);

/* States */
--color-active-background: rgb(181 222 255 / 1);
--color-active-button: rgb(0 84 182 / 1);
--color-focus: rgb(56 146 243 / 1);
--color-focus-background: rgb(248 250 252 / 1);
--color-invalid: rgb(234 56 41 / 1);
--color-disabled: rgb(41 77 117 / 0.09);
--color-text-disabled: rgb(34 52 73 / 0.4)
--color-valid: rgb(0 143 93 / 1);
--color-hover-icon: rgb(224 242 255 / 1);
--color-hover-tags: rgb(239 245 250 / 0.82);

/* Paddings */
--padding-button: 16px 30px;
--padding-button-white: 17px 31px;
--padding-icon: 6px;
--padding-icon-big: 18px;
--padding-button-lg: 18px 38px;
--padding-nav: 6px 12px;
--padding-filters: 5px 11px;
--padding-clear: 6px 18px;
--padding-search: 8px 10px;

/* Header */
--header-height: 92px;

/* Radius scale */
--radius-sm: 6px;
--radius-md: 8px;
--radius-lg: 10px;
--radius-xl: 20px;

/* Component-specific */
--radius-tags: 100px;
--radius-toggle: 19px;
--radius-checkbox: 4px;
--radius-full: 50%;
}